html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul, ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
select, input {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #C81623;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
.col-red {
    color: #C81623 !important;
}
.w {
    width: 1210px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.al {
    text-align: left;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}

.hide {
    display: none;
}
body {
    min-width: 320px;
}
.cabbage{
    background-color: #FFFFFF;
}
.cabbage .tonglang{
    width: 100%;
    height: 44px;
    background-color:#e92322 ;
    color: #fff;
    line-height: 44px;
    overflow: hidden;
}
.cabbage .tonglang span:first-of-type a{
    display: inline-block;
    width: 28px;
    height: 28px;
    float: left;
    background: url("../images/icon_bar.png") -92px -9px;
    background-size:220px 132px ;
    padding: 8px;
    background-clip: content-box;
    background-origin: content-box;
}
.cabbage .tonglang h3{
    font-size: 20px;
    text-align: center;
}
.cabbage .tonglang span:last-of-type a{
    display: inline-block;
    width: 34px;
    height: 34px;
    padding: 5px;
    float: right;
    background: url("../images/header_app.png");
    background-size: 34px 34px;
    background-clip: content-box;
    background-origin: content-box;
}
.cabbage .header {
    font-size: 14px;
    height: 38px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}
.cabbage .header .left {
    height: 38px;
    width: 100%;
    overflow: hidden;
}
.cabbage .header .left ul {
    height: 40px;
}
.cabbage .header .left ul li {
    height: 38px;
    width: 52px;
    float: left;
    text-align: center;
}
.cabbage .header .left ul li a {
    display: block;
    height: 36px;
    line-height: 36px;
    border-bottom: 2px solid #ffffff;
}
.cabbage .header .right {
    position: absolute;
    right: 0;
    top: 44px;
    height: 38px;
    width: 38px;
    background-color: blue;
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17' height='17'><path fill='#565656' d='M978.261333 430.321067c0 157.2864-127.488 284.808533-284.8768 284.808533-157.218133 0-284.706133-127.488-284.706133-284.808533s127.488-284.7744 284.706133-284.7744c22.254933 0 43.793067 2.798933 64.648533 7.68l63.2832-192.136533c3.208533-9.352533 14.916267-14.062933 26.248533-10.410667 11.298133 3.720533 17.8176 14.5408 14.848 23.8592l-63.249067 191.488C904.055467 208.078933 978.261333 310.4448 978.261333 430.321067zM693.384533 184.834133c-135.5776 0-245.384533 109.909333-245.384533 245.521067 0 135.611733 109.943467 245.486933 245.384533 245.486933 135.68 0 245.521067-109.909333 245.521067-245.486933C938.939733 294.7776 829.064533 184.834133 693.384533 184.834133zM366.4896 683.863467l-18.261333 0L98.6112 683.863467c-12.049067 0-21.8112-9.762133-21.8112-21.777067 0-12.049067 9.762133-21.8112 21.8112-21.8112l249.617067 0 5.461333 0c9.147733 15.189333 19.114667 29.832533 30.139733 43.588267L366.4896 683.863467zM297.7792 457.866667 277.6064 457.866667 98.6112 457.866667c-12.049067 0-21.8112-9.762133-21.8112-21.777067 0-12.0832 9.762133-21.8112 21.8112-21.8112l176.708267 0c0 0 0 0 0 0.034133l22.459733 0c-0.4096 7.236267-1.092267 14.404267-1.092267 21.777067S297.3696 450.6304 297.7792 457.866667zM348.2624 231.869867 326.3488 231.869867 98.6112 231.869867c-12.049067 0-21.8112-9.659733-21.8112-21.8112 0-12.0832 9.762133-21.742933 21.8112-21.742933l249.617067 0 5.973333 0 12.288 0 17.339733 0c-11.025067 13.755733-20.923733 28.3648-30.071467 43.52L348.2624 231.835733zM605.3888 5.975467l-127.0784 0-122.538667 0L337.544533 5.975467 87.927467 5.975467c-12.049067 0-21.8112-9.762133-21.8112-21.845333 0-12.0832 9.762133-21.879467 21.8112-21.879467l249.617067 0 18.261333 0 122.538667 0 127.044267 0 78.711467 0-16.0768 43.6224L605.3888 5.975467z' transform='translate(0, 812) scale(1, -1)'/></svg>") no-repeat;
    background-size: 20px auto;
    background-position: center center;
    border-left: 1px solid #e6e6e6;
    background-color: #fbfbfb;
}
.cabbage .product {
    position: relative;
    background-color: #f4f4f9;
    width: 100%;
    padding-top: 1px;
}
.cabbage .product .container {
    padding: 10px 5px;
    position: relative;
    background-color: #ffffff;
    margin-top: 5px;
}
.cabbage .product a.gobuy {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cabbage .product .container div:nth-of-type(1) img{
    float: left;
    display: block;
    width: 135px;
    height: 130px;
    padding-right: 5px;
}
.cabbage .product .container div:nth-of-type(2) {
    font-size: 18px;
    height: 20px;
    line-height: 20px;
}
.cabbage .product .container div:nth-of-type(3) {
    height: 30px;
    padding-top: 8px;
    font-size: 24px;
    line-height: 40px;
    color: red;
}
.cabbage .product .container div:nth-of-type(3) i {
    padding-right: 4px;
    font-size: 16px;
}
.cabbage .product .container div:nth-of-type(3) em {
    font-size: 12px;
    vertical-align: middle;
    font-style: normal;
}
.cabbage .product .container div:nth-of-type(3) del {
    text-decoration: line-through;
    font-size: 13px;
    color: #a8a8a8;
    margin-left: 12px;
    vertical-align: middle;
}
.cabbage .product .container div:nth-of-type(4){
    position: relative;
    z-index: 2;
    margin-top: 4px;
    color: red;
    height: 40px;
    line-height: 40px;
}
.cabbage .product .container div:nth-of-type(4) i {
    position: relative;
    color: white;
    box-sizing: border-box;
    width: 82px;
    height: 14px;
    border: 1px solid #fc353a;
    border-radius: 6px;
    color: #fff;
    font-weight: 900;
    background: #ffb7b7;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-top: 18px;
}
.cabbage .product .container div:nth-of-type(4) i em {
    display: block;
    background: #fc353a;
    height: 100%;
}
.cabbage .product .container div:nth-of-type(4) i span {
    height: 14px;
    line-height: 14px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white!important;
}
.cabbage .product .container div:nth-of-type(4)  b {
    font-weight: normal;
    font-size: 12px;
    vertical-align: 3px;
    margin-left: 10px;
    color: #fc353a;
}
.cabbage .product .container div:nth-of-type(5) a{
    color: #e4393c;
}
.cabbage .product .container div:nth-of-type(5) {
    position: relative;
    z-index: 2;
    border: 1px dotted #e4393c;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
}
.cabbage .product .container div:nth-of-type(6) {
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 10px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border-radius: 4px;
    background-color: #ff5e5d;
}
.cabbage .product .container div:nth-of-type(6) a {
    color: white;
}
.cabbage .backHeader {
    display: none;
    position: fixed;
    z-index: 2;
    right: 8px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17' height='17'><path fill='#565656' d='M888.890368 434.863104 524.079104 69.685248c-3.62496-3.62496-8.512512-5.63712-13.600768-5.63712-5.08928 0-9.976832 2.01216-13.601792 5.63712L132.06528 434.863104c-16.028672 16.04608-15.031296 42.750976 0.9984 58.76224 15.962112 15.962112 41.76896 16.096256 57.831424 0.050176l277.981184-277.998592 0 604.1344c0 22.694912 18.390016 40.886272 40.971264 40.886272 22.612992 0 42.233856-18.19136 42.233856-40.886272L552.081408 215.676928l277.983232 277.998592c16.06144 16.045056 41.867264 15.911936 57.8304-0.050176C903.921664 477.613056 904.91904 450.909184 888.890368 434.863104z' transform='translate(0, 0)'/></svg>") no-repeat;
    background-color: red;
    background-position: center center;
    background-color: #000000
}

/*底部*/
/*首页底部*/
.footer{
    width: 100%;
}
.index_footer{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height: 34px;
    margin-top:10px;
}
.index_footer>ul>li{
    float:left;
    width: 33.1%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-right:1px solid #ccc;
}
.index_footer>ul>li:last-of-type{
    border:none;
}
.index_footer .totop{
    display:inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/top.jpg") no-repeat;
    background-size: 15px 15px;
    margin-bottom:-2px;
}
.index_footer p:first-of-type{
    margin-top:20px;
    text-align: center;
}
.index_footer p:last-of-type{
    margin-bottom: 20px;
    text-align: center;
}

/*登录*/

.login,.regist{
    width: 300px;
    height: 400px;
    border:1px solid #ccc;
    border-radius: 10px;
    background: #f1f1f1;
    position: absolute;
    display: none;
}
.login>form,.regist>form{
    width: 100%;
    height: 100%;
}
.login>form>input,.regist>form>input{
    display:block;
    width: 250px;
    height: 30px;
    border:1px solid #ddd;
    border-radius: 10px;
    margin:40px auto;
    text-indent: 10px;


}
.login>form>input:last-of-type,.regist>form>input:last-of-type{
    background: linear-gradient(to bottom,#eee,#ddd);
}

.login>.cancel,.regist>.cancel{
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #ccc;
    color:#ccc;
    position: absolute;
    top:10px;
    right:10px;
}
.regist form {
    padding-top: 30px;
    padding: 20px;

}
.regist form input {
    margin: 10px auto 0;
}
.regist form p {
    height: 14px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: #e92322;
}
.regist form input[type=button] {
    height: 28px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 9px;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
    text-align: center;
}
.regist form #invalidate {
    width: 50%;
    display: inline-block;
}
